@import '../../SASS/Variables';

.top-container{
    width: 100%;
    .top-logos{
        color: #fff;
    }
}
.logo{
    padding-left: 3vw;
    img{
        width: 85px;
    }
}

.bottom-nav-links{
    font-size: 1.3rem;
}